/* This is an example of using Sass, otherwise plain CSS works too*/

//mixin
//create mixin for align center-flex row
@mixin displayFlexRow{
  display: flex;
  align-items: center;
  // flex-direction: row;
  justify-content: space-between;
}
//inheritance

%btn {

}


 