@import 'base';
@import 'variables';

* {
  box-sizing: border-box;
}

html {
  background-color: #37515C;
  // border: 2px solid #000;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.main-header {
  @include displayFlexRow;
  font-family: $title-font;
  color: $primary-color;
  background-color: lighten($secondary-color, 10%);
  // border: 2px solid #000;
  // display: flex;
  flex-direction: row;
  height: 20vh;
  // align-items: center;
  // justify-content: space-between;
  width: 100%;
  // justify-content: space-between;


  // .app-name{
  //   display: inline-block;
  // }
  .welcome{
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: center;
    width: 25vw;
    padding: 0%;
    margin: 0%;
  }

  h1 {
    // border-right: 2px solid #000;
    font-family: $beauty-font;
    justify-content: center;
    display: flex;
    font-size: 200%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: center;
    // width: 40%;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    font-family: "Poiret One", cursive;
    font-size: 1.2em;
    margin: 5%;
    font-weight: 600;
    /* text-align: center; */
    align-self: flex-end;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
  }

  form {
    @include displayFlexRow;
  }

  .search{
    @include search;
  }

  .navButton {
    @include buttonStyle;
  }

  .navButton:active {
    background-color: $primary-color;
  }
}

header {

  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: -1% 0% 0% 0%;

  ul{
    list-style-type: none;
    background-color: lighten($secondary-color, 10%);
    @include displayFlexRow;
    overflow: scroll;
    width: 100%;
    height: 100%;
    // overflow: hidden;
  }
  
  li{
    @include buttonStyle;
    // list-style-type: none;
    // text-decoration-style: none;
    background-color: lighten($tertinary-color, 15%);
    margin: 1% .5% 1% .5%;
    font-size: 10px;
    color: $secondary-color;
    // overflow-y: scroll;
    // padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    // box-sizing: content-box; /* So the width will be 100% + 17px */
  }

  li:hover {
    background-color: $primary-color;
    // font-size: 13px;
  }
}
// .search-bar {
//   display: flex;
//   height: 100%;
//   margin: 10px 0px 10px 0px;
//   width: 30%;
// }

// .search-button {
//   background-color: #EBF5EE;
//   border: 1px solid #000;
//   width: 20%;
//   height: 58px;
//   margin-top: 3px;
// }

// .search-image:hover,
// .card-button:hover,
// .navButton:hover,
// .search-button:hover {
//   background-color: $primary-color;
// }


// .search-image:active,
// .card-button:active,
// .navButton:active,
// .search-button:active {
//   background-color: #C3C2C6;
// }

// .search-input {
//   border: 1px solid #000;
//   font-size: 100%;
//   height: 7vh;
//   margin: 3px 7px 0px 0px;
//   padding-left: 10px;
//   width: 90%;
// }

.card-button {
  // border
  // border: 1px solid #000;
  height: 27px;
  margin: 3px;
}

.add-button {
  background-color: $quinary-color;
  width: 13%;
  border-left: none;
  border-radius: 25px;
  // border: none;
  border: .2px;
  text-decoration :none;
  background-color:$secondary-color;
}

.add-button:hover{
  background-color: $primary-color;
}

.add {
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.favorite {
  // background-color: #EBF5EE;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 35%;
  border-right: none;
  border-radius: 25px 0px 0px 25px;
  background-color: lighten($quaternary-color, 20%);
  border: .2px;
  text-decoration :none;
  font-size: 12px;
}

button:focus {
  outline:0;
}

.all-cards, .all {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  // grid-auto-flow: dense;
  padding: 30px 30px 30px 30px;
  margin: 0% 15% 0% 15%;
  // width: 1\vw;
  justify-items: center;
  align-content: center;
  background-color: $quaternary-color;
}

img {
  cursor: pointer;
}

.card {
  background-color: #D7F2FE;
  // border: 3px solid #000;
  border-radius: 25px;
  width: 100%;
  height: 43vh;
  overflow: scroll;
  // display: flex;
  // flex-direction: column;
  display: flex;
    flex-direction: column-reverse;
    font-family: emoji;
    align-items: center;
    padding: 14% 3% 0% 0%;

  .card-header { //change tehe name form header to container
    //need to remove justify content and add margin and padding 
    background-color: lighten($primary-color, 10%);
    // border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 10px 6px -6px #777;
    justify-self: center;
    align-items: center;
  }

  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


// .card-header {
//   background-color: #EBF5EE;
//   // border-bottom: 1px solid #000;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .all {
//   grid-gap: 0px;
//   grid-template-columns: repeat(1, 1fr);
//   background-color: #5c8686;
// }

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {
  display: block;
  // position: absolute;
  font-size: 100%;
  text-align: center;
  font-family: $beauty-font;
}

.card-picture:hover {
  opacity: 0.8;
}

.card-picture:active {
  // border: 2px solid #000;
}

.card-picture {
  // border: 1px solid #000;
  // height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: -webkit-fill-available;
  position: relative;
  // filter: contrast(130%);
  // filter: sepia(20%);
  filter: contrast(135%);
}

main {
  background-color: $quinary-color;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px){
  
  h1 {
    padding: 0% 0% 0% 10%;
  }

  .main-header{
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 5% 0% 5% 0%;
  }

  .button-container {
    margin-left: 12%;
}

.welcome{
  align-self: center;
}
  
.user-info {
  text-align: right;
}

}
