@import 'base';
@import 'variables';

* {
  box-sizing: border-box;
}

html {
  background-color: #37515C;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.main-header {
  @include displayFlexRow;
  font-family: $title-font;
  color: $primary-color;
  background-color: lighten($secondary-color, 10%);
  flex-direction: row;
  height: 20vh;
  width: 100%;


  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 0%;
    margin: 0%;
  }

  h1 {
    font-family: $beauty-font;
    justify-content: center;
    display: flex;
    font-size: 200%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: center;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    font-family: "Poiret One", cursive;
    font-size: 1.2em;
    margin: 5%;
    font-weight: 600;
    align-self: flex-end;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
  }

  form {
    @include displayFlexRow;
  }

  .search{
    @include search;
  }

  .navButton {
    @include buttonStyle;
  }

  .navButton:active {
    background-color: $primary-color;
  }
}

header {

  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: -1% 0% 0% 0%;

  ul{
    list-style-type: none;
    background-color: lighten($secondary-color, 10%);
    @include displayFlexRow;
    overflow: scroll;
    width: 100%;
    height: 100%;
  }
  
  li{
    @include buttonStyle;
    background-color: lighten($tertinary-color, 15%);
    margin: 1% .5% 1% .5%;
    font-size: 15px;
    color: $secondary-color;
  }

  li:hover {
    background-color: $primary-color;
  }
}

// .card-button {
//   height: 27px;
//   margin: 3px;
// }

.add-button, .card-button, .icon {
  background-color: lighten($card-background, 10%);
  border-left: none;
  border-radius: 0px 25px 25px ;
  border: .2px;
  text-decoration :none;
  text-align: center;
  width: 17%;
}

.add-button{
  border-radius: 0px 25px 25px 0px;
}

.add-button:active{
  background-color: $primary-color;
}

.add {
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.favorite {
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 35%;
  border-right: none;
  border-radius: 25px 0px 0px 25px;
  background-color: lighten($quaternary-color, 10%);
  // border: .2px;
  text-decoration :none;
  font-size: 12px;
}

.all-cards, .all {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 30px 30px 30px 30px;
  margin: 0% 15% 0% 15%;
  justify-items: center;
  align-content: center;
  background-color: $quaternary-color;
  width: 75vw;
  justify-content: center;
}

.card {
  background-color: lighten($card-background, 10%);
  border-radius: 25px;
  width: 15vw;
  height: 43vh;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  font-family: emoji;
  align-items: center;
  // padding: 14% 3% 0% 0%;

  .back-button, .purchase-button{
    background-color: $primary-color;
  }

  .card-header {
    background-color: lighten($primary-color, 9%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 10px 6px -6px #777;
    justify-self: center;
    align-items: center;

    .fa-utensils{
      font-size: 1.5em;
      color: $quinary-color;
      background-color: $quaternary-color;
      margin: .5em 1em .5em 1em;
      padding: 4% 0% 3% 0%;
    }

    .instruction{
      @include buttonStyle;
      padding: 0em 2em 0em 2em;
      background-color:$quinary-color;
    }
  }

  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {
  font-size: 1.3em;
  color: $quaternary-color;
  text-align: right;
  letter-spacing: 1px;
  font-family: $recipe-title;
  margin: 0em .3em 0.5em 0.5em;
  padding: 0% 0% 0% 0%;
}

.card-picture {
  // margin: 10px 3% 8px 2.6%;
  width: -webkit-fill-available;
  position: relative;
  filter: contrast(135%);
}

main {
  background-color: $quinary-color;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px){
  
  h1 {
    padding: 0% 0% 0% 10%;
  }

  .main-header{
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 5% 0% 5% 0%;
  }

  .button-container {
    margin-left: 12%;
  }

  .welcome{
    align-self: center;
  }
    
  .user-info {
    text-align: right;
  }

}
