@import 'base';
@import 'variables';
@import 'queries';

* {
  box-sizing: border-box;
}

html {
  background-color: #37515C;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.main-header {
  @include displayFlexRow;
  font-family: $title-font;
  color: $primary-color;
  background-color: lighten($secondary-color, 10%);
  flex-direction: row;
  height: 20vh;
  width: 100%;

  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 0%;
    margin: 0%;
  }

  h1 {
    font-family: $beauty-font;
    justify-content: center;
    display: flex;
    font-size: 200%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: center;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    font-family: "Poiret One", cursive;
    font-size: 1.2em;
    margin: 5%;
    font-weight: 600;
    align-self: flex-end;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
  }

  form {
    @include displayFlexRow;
  }

  .search{
    @include search;
  }

  .navButton {
    @include buttonStyle;
  }

  .navButton:active {
    background-color: $primary-color;
  }
}

header {

  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: -1% 0% 0% 0%;

  ul{
    list-style-type: none;
    background-color: lighten($secondary-color, 10%);
    @include displayFlexRow;
    overflow: scroll;
    width: 100%;
    height: 100%;
  }
  
  li{
    @include buttonStyle;
    background-color: lighten($tertinary-color, 15%);
    margin: 1% .5% 1% .5%;
    font-size: 15px;
    color: $secondary-color;
  }

  li:hover {
    background-color: $primary-color;
  }
}

.add-button, .card-button, .icon {
  background-color: lighten($card-background, 10%);
  border-left: none;
  border-radius: 0px 25px 25px ;
  border: .2px;
  text-decoration :none;
  text-align: center;
  width: 17%;
}

.add-button{
  border-radius: 0px 25px 25px 0px;
}

.add-button:active{
  background-color: $primary-color;
}

.add {
  width: 100%;
  position: relative;
}

.favorite {
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 35%;
  border-right: none;
  border-radius: 25px 0px 0px 25px;
  background-color: lighten($quaternary-color, 10%);
  text-decoration :none;
  font-size: 12px;
}

.all-cards, .all {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 30px 30px 30px 30px;
  margin: 0% 15% 0% 15%;
  justify-items: center;
  align-content: center;
  background-color: $quaternary-color;
  width: 75vw;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: lighten($card-background, 10%);
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  height: 43vh;
  overflow: scroll;
  font-family: emoji;
  width: 15vw;

  .card-header {
    background-color: lighten($primary-color, 9%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 10px 6px -6px #777;
    justify-self: center;
    align-items: center;

    .fa-utensils{
      font-size: 1.5em;
      color: $quinary-color;
      background-color: $quaternary-color;
      border-radius: 0px 0px 20px 20px;
      padding: 4% 0% 4% 0%;
    }

    .instruction{
      @include buttonStyle;
      background-color: $quaternary-color;
      border-radius: 0px;
      color: $quinary-color;
      font-weight: 500;
      padding: .5em 0em .5em 0em;
      margin: 0px 0em 0em 0em;
      width: 125%;
    }
  }

  .user-options{
    display: flex;
    flex-direction: row;

    .back-button, .purchase-button{
      @include buttonStyle;
      background-color: $primary-color;
      font-size: 10px;
      margin: 0%;
      border-radius: 0px;
      border-left: 1px white solid;
    }

    .back-button:hover, .purchase-button:hover{
      background-color: darken($primary-color, 10%);
      color: $secondary-color;
    }
  }

  .feedback{
    list-style-type: none;
    margin: 2%;
    padding: 2%;

    li{
      color: $tertinary-color;
      font-size: 1em;
      font-family: $beauty-font;
      
    }
  }

  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {
  font-size: 1.3em;
  color: $quaternary-color;
  text-align: right;
  letter-spacing: 1px;
  font-family: $recipe-title;
  margin: 0em .3em 0.5em 0.5em;
  padding: 0% 0% 0% 0%;
}

.card-picture {
  width: -webkit-fill-available;
  position: relative;
  filter: contrast(135%);
}

main {
  background-color: $quinary-color;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}


@media only screen and (max-width: 1200px){
  body{
    @include at1200px;
  }
}

@media only screen and (max-width: 700px){
  body{
  @include at700px;
  }
}

@media only screen and (max-width: 500px){
  body{
  @include at500px;
  }
}
