// font variables 👇🏽
$title-font: 'Lobster Two', cursive;
$content-font: 'Poiret One', cursive;
$beauty-font: 'Quicksand', sans-serif;

// color variables 👇🏽
$primary-color:#FCA17D;
$secondary-color: #F9DBBD;
$tertinary-color: #495867;
$quaternary-color: #577399;
$quinary-color: #79658e;
